.header__button_text {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 720px) {
    .header__button_text {
        font-size: 14px;
        line-height: 17px;
    }
}
