.form__button-container {
    width: 358px;
    background: #ffffff;
    border-radius: 2px;
    align-content: center;
    margin: 186px auto 0;
}

@media screen and (max-width: 768px) {
    .form__button-container {
        max-width: 260px;
        margin-top: 173px;
    }
}
